Source: gnome-calls
Section: comm
Priority: optional
Maintainer: DebianOnMobile Maintainers <debian-on-mobile-maintainers@alioth-lists.debian.net>
Uploaders:
 Evangelos Ribeiro Tzaras <devrtz-debian@fortysixandtwo.eu>,
 Henry-Nicolas Tourneur <debian@nilux.be>,
Build-Depends:
 debhelper-compat (= 13),
 desktop-file-utils,
 gtk-doc-tools <!nodoc>,
 help2man,
 libcallaudio-dev (>= 0.0.5),
 libebook-contacts1.2-dev,
 libfeedback-dev,
 libfolks-dev,
 libgom-1.0-dev,
 libgsound-dev,
 libgtk-3-dev,
 libgtk-3-doc <!nodoc>,
 libhandy-1-dev,
 libmm-glib-dev (>= 1.12.0),
 libpeas-dev,
 meson,
 modemmanager-dev,
 pkg-config,
 valac,
 xauth,
 xvfb,
Standards-Version: 4.5.1
Homepage: https://source.puri.sm/Librem5/calls
Vcs-Browser: https://salsa.debian.org/DebianOnMobile-team/gnome-calls
Vcs-Git: https://salsa.debian.org/DebianOnMobile-team/gnome-calls.git
Rules-Requires-Root: no

Package: gnome-calls
Architecture: any
Depends:
 callaudiod,
 modemmanager,
 ${misc:Depends},
 ${shlibs:Depends},
Description: Make and receive PSTN phone calls
 A GTK+ user interface for PSTN phone calls using ModemManager.
 .
 Besides phone calls it also handles USSD.
 .
 It works on desktops but also adjusts to small screen sizes like smart phones
 and other mobile devices.

Package: gnome-calls-doc
Section: doc
Architecture: all
Multi-Arch: foreign
Build-Profiles: <!nodoc>
Depends:
 ${misc:Depends},
Description: Make and receive PSTN phone calls - development documentation
 A GTK user interface for PSTN phone calls using ModemManager.
 .
 Besides phone calls it also handles USSD.
 .
 It works on desktops but also adjusts to small screen sizes like smart phones
 and other mobile devices.
 .
 This package contains the development documentation.
